<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Editar Perfil</title>
<link rel="stylesheet" href="/css/perfil.css">
</head>
<body>	
	<div class="container">
		<div class="login">
	  		<h2 class="login-header">Editar Usuário</h2>
	
	  		<form class="login-container" th:action="@{/usuario/update}" th:object="${usuario}" method="post">
	  			<p><input type="hidden" th:field="*{username}" placeholder="usuario"></p>
	  			<p><input th:field="*{username}" placeholder="usuario" disabled="disabled"></p>
			    <p><input type="password" th:field="*{password}" placeholder="senha" required="required"></p>
			    <p><input type="text" th:field="*{nome}" placeholder="nome"></p>
			    <p><input type="text" th:field="*{sexo}" placeholder="sexo (F|M)" maxlength="1"></p>
			    <p><input type="submit" value="Editar Conta" class="button-a"></p>
			    <p><a th:href="@{'/usuario/delete/' + ${usuario.username}}">Excluir conta</a></p>
			    <p><a th:href="@{/home}">Voltar</a></p>
	  		</form>
		</div>
	</div>
</body>
</html>

